registry=https://sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/ 
always-auth=true

; begin auth token 
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:_password=dWs2b3RudmFpNHg2YXhzMzZ6Y3ZjdmlreWI0eW10dWVnamM1Y3Nic2ZpanI2bXNrcTRuYQ==
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:email=npm requires email to be set but doesnt use the value
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:_password=dWs2b3RudmFpNHg2YXhzMzZ6Y3ZjdmlreWI0eW10dWVnamM1Y3Nic2ZpanI2bXNrcTRuYQ==
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:email=npm requires email to be set but doesnt use the value
; end auth token