registry=https://dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/
always-auth=true


; begin auth token 
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:username=dfe-ssp 
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:_password=c3RvaXI0MmRjNGNibTRlampobm1ja2hvMmdqb2JmdGJ4bHpjYzdoaXNwZ2J2cmJybHMyYQ== 
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:email=npm requires email to be set but doesn't use the value
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:username=dfe-ssp 
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:_password=c3RvaXI0MmRjNGNibTRlampobm1ja2hvMmdqb2JmdGJ4bHpjYzdoaXNwZ2J2cmJybHMyYQ==
//dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:email=npm requires email to be set but doesn't use the value
; end auth token