registry=https://sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/ 
always-auth=true

//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:_password="N3Q1cG4zc2k3dmp0ZTVrbWc0MmFzend6ZnJmeWtjdDJ4bjU2ZWViZnE0djZzdHdqNGVmcQ=="
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:email=npm requires email to be set but doesn't use the value
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:_password="N3Q1cG4zc2k3dmp0ZTVrbWc0MmFzend6ZnJmeWtjdDJ4bjU2ZWViZnE0djZzdHdqNGVmcQ=="
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:email=npm requires email to be set but doesn't use the value