<div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-top-5">
        Service already approved
      </h1>

      <p class="govuk-body">
        Our records show that an approver at your organisation has already approved this request.
      </p>
      <p class="govuk-body">
        Press the button below to return to your services dashboard.
      </p>

      <a href='/my-services' role="button" class="govuk-button">Go to services dashboard</a>
    </div>
  </div>
</div>