<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-l">You are not authorised to view this information</p>
        </div>
    </div>
</div>