<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Organisations</h1>
    </div>
</div>
<div class="pane">
    <article class="organisation-services">
        <section class="organisation">
            <header>
                <h2>Bishop Ullathorne Catholic School</h2>
            </header>
            <div class="user">
                <div class="role end-user" tabindex="0" title="Adam West is an End User at Ullathorne Catholic School">End user</div>
                <a href="my.html" class="info-link">Information and approvers <span class="vh">for Bishop Ullathorne Catholic School</span> </a>
            </div>
            <div class="meta js-hidden">
                <div class="approvers">
                    <dl class="rows condensed small-dt">
                        <dt><abbr title="Unique Reference Number">URN</abbr></dt>
                        <dd>103742</dd>
                        <dt>Approvers</dt>
                        <dd>
                            <ul>
                                <li>Susan West <a href="mailto:susan-west@example.com">susan-west@example.com</a></li>
                                <li>Jean Harvey <a href="mailto:">jean.harvey@example.com</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </section>
    </article>
</div>
<hr>