<h1 class="heading-xlarge">Users
    <small><%= locals.organisations[0].organisation.name%></small>
</h1>
<div class="row row-spacer">
    <div class="col-6 pull-right">
        <div class="pull-right">
            <a href="" class="button button-secondary">Invite user</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="data">
            <thead>
            <tr class="sortable">
                <th scope="col" class="cwp-15">
                    <a href="#" class="sorted dir-d">Name</a></th>
                <th scope="col" class="cwp-35">
                    <a href="#" class="">Email</a></th>
                <th scope="col" class="cwp-15">
                    <a href="#" class="">Permission level</a></th>
                <th scope="col" class="cwp-10">
                    <a href="#" class="">Status</a></th>
            </tr>
            </thead>
            <tbody>

            <% for(let i= 0; i < locals.usersForOrganisation.length; i++) {%>
            <tr>
                <td><a href=""><%=locals.usersForOrganisation[i].usersName%></a></td>

                <td><span class="breakable"><%=locals.usersForOrganisation[i].usersEmail%></span></td>
                <% if (locals.usersForOrganisation[i].role) { %>
                <td><%= locals.usersForOrganisation[i].role.name %></td>
                <% } else { %>
                    <td>Unknown</td>
                <% } %>
                <td></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>


