<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            You have signed out.
        </h1>
        <p class="lede">Some content will go here...</p>
        <a href="/" class="button">Start again</a>
    </div>
</div>


