<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            DfE Sign-in
        </h1>
        <p>To access your service, please select below and you will be taken to the appropriate login page.</p>

        <h2 class="heading-medium">Services on DfE Sign-in </h2>
        <p>The first time you use DfE Sign in you will be asked to migrate your account from Secure Access. If you have already migrated, use your email and password to login.</p>
        <article class="organisation-services">
            <section>
                <ul class="service-list">
                    <li>
                        <div class="links">
                            <a href="https://www.keytosuccess.education.gov.uk/cgi-bin/kts/index" class="service-link">Key To Success</a>
                            <a href="#" class="information">More Information <span class="vh">about K2S</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>The K2S service, for Local Authority users, has already moved away from Secure Access and now uses DfE Sign-in. If you are a registered K2S user, you should have received an email advising you how to set up a DfE Sign-In account.
                                    If you have not yet done so, you will need to create a DfE Sign-in account with your email address and a password of your choice before you can access K2S.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="https://www.analyse-school-performance.service.gov.uk/" class="service-link">Analyse School Performance</a>
                            <a href="#" class="information">More Information <span class="vh">about Analyse School Performance</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>The ASP service has already moved away from Secure Access and now uses DfE Sign-in. If you are a registered ASP user, you should have received an email advising you how to set up a DfE Sign-In account.
                                    If you have not yet done so, you will need to create a DfE Sign-in account with your email address and a password of your choice before you can access ASP. </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="https://teacherservices.education.gov.uk/" class="service-link">Teacher Services</a>
                            <a href="#" class="information">More Information <span class="vh">about DQT</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Teacher Services (DQT) service has already moved away from Secure Access and now uses DfE Sign-in. If you are a registered Teacher Services user, you will need to create a DfE Sign-in account with your email address and a password of your choice before you can access Teacher Services.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="" class="service-link">School Jobs</a>
                            <a href="#" class="information">More Information <span class="vh">about School Jobs</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>School Jobs service has already moved away from Secure Access and now uses DfE Sign-in. If you are a registered School Jobs user, you will need to create a DfE Sign-in account with your email address and a password of your choice before you can access School Jobs.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="" class="service-link">Publish Teacher Training Courses</a>
                            <a href="#" class="information">More Information <span class="vh">about Publish Teacher Training Courses</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Publish Teacher Training Courses service has already moved away from Secure Access and now uses DfE Sign-in. If you are a registered Publish Teacher Training Courses user, you will need to create a DfE Sign-in account with your email address and a password of your choice before you can access Publish Teacher Training Courses.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="" class="service-link">Trainee Teacher Portal</a>
                            <a href="#" class="information">More Information <span class="vh">about Trainee Teacher Portal</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Trainee Teacher Portal service has already moved away from Secure Access and now uses DfE Sign-in. If you are a registered Trainee Teacher Portal user, you will need to create a DfE Sign-in account with your email address and a password of your choice before you can access Trainee Teacher Portal.</dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </section>
        </article>
        <h2 class="heading-medium">Services on Secure Access </h2>
        <p>You will still login to Secure Access, using your Secure Access username and password</p>
        <article class="organisation-services">
            <section>
                <ul class="service-list">
                    <li>
                        <div class="links">
                            <a href="" class="service-link">Collect</a>
                            <a href="#" class="information">More Information <span class="vh">about Collect</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Access to the COLLECT service is currently still possible through Secure Access. It will move shortly to the DfE Sign-in service. If you are a registered COLLECT user, you will receive an email advising you how to set up a DfE Sign-In account using your email address and a password of your choice.</dd>
                                <dd>If you have already created a DfE Sign-in account to access any of the services above, you do not need a second - the same account can be used to access many services on behalf of multiple organisations. </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="" class="service-link">School to School</a>
                            <a href="#" class="information">More Information <span class="vh">about S2S</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Access to the School-to-school service is currently still possible through Secure Access. It will move shortly to the DfE Sign-in service. If you are a registered School-to-school user, you will receive an email advising you how to set up a DfE Sign-In account using your email address and a password of your choice.</dd>
                                <dd>If you have already created a DfE Sign-in account to access any of the services above, you do not need a second - the same account can be used to access many services on behalf of multiple organisations.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="" class="service-link">Post-16 portal</a>
                            <a href="#" class="information">More Information <span class="vh">about Post-16 portal</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Access to the Post-16 portal is currently still possible through Secure Access. It will move shortly to the DfE Sign-in service. If you are a registered Post-16 portal user, you will receive an email advising you how to set up a DfE Sign-In account using your email address and a password of your choice.</dd>
                                <dd>If you have already created a DfE Sign-in account to access any of the services above, you do not need a second - the same account can be used to access many services on behalf of multiple organisations.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="" class="service-link">EFA Information exchange</a>
                            <a href="#" class="information">More Information <span class="vh">about EFA Information exchange</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Access to the EFA Information Exchange service is currently still possible through Secure Access. It will move shortly to the DfE Sign-in service. If you are a registered EFA Information Exchange user, you will receive an email advising you how to set up a DfE Sign-In account using your email address and a password of your choice.</dd>
                                <dd>If you have already created a DfE Sign-in account to access any of the services above, you do not need a second - the same account can be used to access many services on behalf of multiple organisations.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="https://get-information-schools.service.gov.uk/" class="service-link">Get Information About Schools</a>
                            <a href="#" class="information">More Information <span class="vh">about Get Information About Schools</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Access to the GIAS service is currently still possible through Secure Access. It will move shortly to the DfE Sign-in service. If you are a registered GIAS user, you will receive an email advising you how to set up a DfE Sign-In account using your email address and a password of your choice.</dd>
                                <dd>If you have already created a DfE Sign-in account to access any of the services above, you do not need a second - the same account can be used to access many services on behalf of multiple organisations.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="links">
                            <a href="https://www.keytosuccess.education.gov.uk/cgi-bin/schools/index" class="service-link">Key to Success (Schools)</a>
                            <a href="#" class="information">More Information <span class="vh">about Key to Success (Schools)</span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd>Access to the K2S for schools service is currently still possible through Secure Access. It will move shortly to the DfE Sign-in service. If you are a registered Key to Success schools user, you will receive an email advising you how to set up a DfE Sign-In account using your email address and a password of your choice.</dd>
                                <dd>If you have already created a DfE Sign-in account to access any of the services above, you do not need a second - the same account can be used to access many services on behalf of multiple organisations.</dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</div>
