<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">DfE Sign-in</h1>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p class="lede">DfE Sign-in is the new way to access your DfE online services and has now replaced Secure Access.</p>
        <h2 class="heading-medium">Before you start</h2>
        <p>You'll need:</p>
        <ul class="list list-bullet">
            <li><b>An existing DfE Sign-in account.</b> This will be the email address and password you created when you first accessed DfE Sign-in.</li>
        </ul>
        <a class="button button-start" href="/my-services" role="button">Start now</a>
        <details class="services-dropdown">
            <summary><span class="summary">Services accessed using DfE Sign-in</span></summary>
            <div class="panel panel-border-narrow">
                <p>
                    These DfE services are now accessed using your DfE Sign-in account.
                </p>
                <ol class="list list-bullet">
                    <%
                    for (let s = 0; s < services.length; s++) {
                        const service = services[s];
                        if (service.isExternalService === true) {
                    %>
                        <li><%=service.name%></li>
                    <% } %>
                    <% } %>
                </ol>
            </div>
        </details>
    </div>
</div>
