<div class="govuk-width-container">
    <% if (locals.isApprover) { %>
        <div id="review-users-banner" class="notification notification-information" tabindex="-1" style="display:none">
            <p class="govuk-body"><b>We recommend reviewing your users and their permissions.</b><br><a class="govuk-link-bold" href="/approvals/users" onclick='setReviewUsersBannerLastSeen()'>Review users</a></p>
        </div>

        <script>
            $(function() {
                loadReviewUsersBanner();
            });
        </script>
    <% } %>
</div>