<div class ="servicesv2">
    <div class="row">
        <div class="col-8">
            <h1 class="heading-xlarge">
                Services
            </h1>
            <p>A list of services you have access to is displayed below. To access a service, please select the required link.</p>
            <% if (services.length === 0) { %>
                <div class="empty-state">
                    <p>You have no services assigned, please contact your <a href="organisations">approver</a>.</p>
                </div>
            <% } %>
            <article class="organisation-services">
                <section>
                    <ul class="service-list">
                        <%
                        for (let s = 0; s < services.length; s++) {
                            const service = services[s];
                        %>
                        <li>
                            <div class="links">
                                <div class="service-link">
                                    <a href="<%=service.serviceUrl%>" class="service-link"><%=service.name%></a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </section>
            </article>
        </div>
        <div class="col-4">
            <aside>
                <h2 class="heading-medium">Actions</h2>
                <ul class="list">
                    <li><a href="organisations">My approvers</a> </li>
                </ul>
            </aside>
        </div>
    </div>
</div>
